  .swiper {
        /* border: 1px solid gray; */
        width: 100%;
        height: 100%;
    }


    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
         overflow: hidden; 
    }

    .swiper-img {
        width: 100%;
        height: 100rem;
        object-fit: contain;
        margin-bottom : 2rem;
    }