  .swiper {
        border: 1px solid gray;
        width: 800px;
        height: 300px;
    }


    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
         overflow: hidden; 
    }

    .swiper-img {
        width: 100%;
        object-fit: contain;
    }